@model ShopItemFormModel

@{
    ViewBag.Title = "ItemFormPartial";
}

<form method="post">
    <i style="margin: 0% 0% 0% 18%">The yellow boxes are required!</i>
    <br />
    <br />
    <br />
    <div class="form-row justify-content-center">
        <div class="row col-10 offset-1" style="text-align: center">
            <div class="col-4">
                <div class="form-group" style="margin-bottom: 7%">
                    <label asp-for="Name">Item name</label>
                    <input asp-for="Name" class="form-control" style="background-color: #fffdf2" placeholder="Enter item name here...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group" style="margin-bottom: 7%">
                    <label asp-for="MainImageUrl">Main image url:</label>
                    <input asp-for="MainImageUrl" class="form-control" style="background-color: #fffdf2" placeholder="Main picture image URL...">
                    <span asp-validation-for="MainImageUrl" class="small text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group" style="margin-bottom: 7%">
                    <label asp-for="Price">Price:</label>
                    <input asp-for="Price" class="form-control" style="background-color: #fffdf2" placeholder="Price...">
                    <span asp-validation-for="Price" class="small text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group" style="margin-bottom: 3%">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="6" style="background-color: #fffdf2" placeholder="Describe the item here..."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary text-center">Save</button>
            </div>
        </div>

    </div>
</form>