@model ShopItemFormModel

@{
    ViewBag.Title = "Create Item";
}

<div class="container-fluid">
    <div class="row justify-content-end text-center mt-4">
        <div class="col-4">
            <h3>@ViewBag.Title</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="col-4">
            <a asp-controller="Shop" asp-action="All" class="btn btn-secondary">All Items</a>
        </div>
    </div>
    <!--Create form-->
    <form method="post">
        <i style="margin: 0% 0% 0% 6%">The yellow boxes are required!</i>
        <br />
        <br />
        <br />
        <div class="form-row justify-content-center">
            <div class="row col-12" style="text-align: center">
                <div class="form-group col-6 offset-3" style="margin-bottom: 3%">
                    <label asp-for="Name">Place name</label>
                    <input asp-for="Name" class="form-control" style="background-color: #fffdf2" placeholder="Enter place name here...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group col-4 offset-3" style="margin-bottom: 0%">
                    <label asp-for="MainImageUrl">Main image url:</label>
                    <input asp-for="MainImageUrl" class="form-control" style="background-color: #fffdf2" placeholder="Image URL...">
                    <span asp-validation-for="MainImageUrl" class="small text-danger"></span>
                </div>
                <div class="form-group col-2" style="margin-bottom: 3%">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" style="background-color: #fffdf2" placeholder="0.00">
                    <span asp-validation-for="Price" class="small text-danger"></span>
                </div>
                <div class="form-group col-6 offset-3" style="margin-bottom: 3%">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3" style="background-color: #fffdf2" placeholder="Enter description here..."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}