@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="text-center">
    About us :)
</h2>

<div class="text-center" >
    <p class="text-dark">
        Some info about us and our work will be added soon.
    </p>
</div>
