@{
    ViewBag.Title = "About";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-8">
            <h1 class="text-center display-4" style="font-family: initial; font-style: italic">
                За мен и моят проект
            </h1>
            <hr />
            <p class="mt-5" style="font-family: initial; font-style : italic; font-size: 140%">
                &#160 &#160 &#160 <b>“Разкажи ни нещо за себе си”</b>, е може би едно от най-объркващите и изпотяващи изречения, които човек може да получи по време на интервю за работа...или в сайт за запознанства.
                Мозъкът започва да работи хаотично, усещаш сърцето си някъде около петите и накрая употребяваш думи, в чието значение не си съвсем сигурен.
                За да избегнем подобни еквилибристики (мхм..), нека започна с това, че се казвам <b>Ивайло</b>.
            </p>
            <p style=" font-family: initial; font-style: italic; font-size: 140%">
                &#160 &#160 &#160 На практика съм личност, която работеше в сферата на онлайн търговията покрай социалната изолация, свързана с пандемията от Коронавирус, а сега вече като софтуерен разрабитчик, който обича да се разнообразява,
                да пътува до нови или до добре познати, но любими места...и разбира се по пътя да си угажда. Нищо вкусно не ми е чуждо, стига крайният резултат да е усмивка на лицето и една отпусната дупка на колана.
                След преосмисляне на хранителните ми навици и по-задълбочен, но по-смислен избор относно нещата, които приемам (поне в повечето случаи), така тръгна и идеята за моят джелато гайд. Зароди се съвсем случайно, с помощта на две превъзходни
                порции кето сладолед в софийска джелатерия и всъщност първоначално беше замислен като курсов проект. Установих че самият аз бих искал да има място, където да има достатъчно и добре структурирана информация относно нещата,
                които ме интересуват, затова най-лесното решение беше да го създам сам. Без повече предизвестие добре дошли в сайта където има за всекиго по нещо - от информация за джелатерии, през рецепти за вкусни, здравословни
                (и не съвсем) храни, съвети за почивка с домашен любимец, множество снимки и материали за екскурзии и пътувания, и се стигне до магазина, в който можете да откриете интересни продукти на български автори, ръчно изработени и по персонален дизайн.
            </p>
            <hr />
            <div class="text-center">
                <a href="https://facebook.com" target="_blank" class="btn rounded">
                    <i class="fab fa-facebook-f fa-2x mr-3"></i>
                </a>
                <a href="https://facebook.com" target="_blank" class="btn rounded">
                    <i class="fab fa-instagram fa-2x ml-3"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />