@{
    ViewData["Title"] = "About";
}

<h2 class="text-center">
    About us and our project :)
</h2>

<div class="text-center">
    <h5 style="margin: 5% 0% 5% 0%" class="text-dark">
        Just a few days and the about info will be added :)
    </h5>
    <img src="../images/blackCat.jpg"
         class="w-50 shadow-1-strong rounded mb-4"
         alt="" />
</div>