@{
    ViewData["Title"] = "About page";
}

<h2 class="text-center">
    About us :)
</h2>

<div class="text-center">
    <p style="margin-top: 5%" class="text-dark">
        Some info about us and our work will be added soon.
    </p>
    <img src="../images/blackCat.jpg"
         class="w-50 shadow-1-strong rounded mb-4"
         alt="" />
</div>