@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMING SOON! :)</h1>
    <img src="beforeTheLogo.jpg" width="325" height="400"/>
    <p>About: <a>Still nothing here. Waiting for fishi's research</a>.</p>
</div>
