@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMING SOON! :)</h1>
    <img src="beforeTheLogo.jpg" width="325" height="400"/>
    <p>About: <a>Still nothing here. Waiting for fishi's research</a>.</p>
    
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
            />

            <img
                src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
            />

            <img
                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
            />

            <img
                src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                alt=""
            />
        </div>
    </div>
    <!-- Gallery -->
</div>
