@model CreatePlaceFormModel

@{
    ViewBag.Title = "Update Place";
}

<div class="container-fluid">
    <div class="row justify-content-end text-center mt-4">
        <div class="col-4">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-4">
            <a asp-action="All" class="btn btn-secondary">All Places</a>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <partial name="_PlaceFormPartial" model="Model" />
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}