

@{
    ViewBag.Title = "Create Order";
}

<div class="container-fluid">
    <div class="row justify-content-end text-center mt-4">
        <div class="col-4">
            <h3>@ViewBag.Title</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="col-4">
            <a asp-action="All" class="btn btn-secondary">All Orders</a>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}