@{
    Layout = "_Layout";

}


<div class="container">
    <h2 class="text-center">Shortcuts</h2>
    <div class="row col-12 rounded justify-content-md-center">
        <a class="btn" style="color: black" asp-area="Administration" asp-controller="Users" asp-action="All">All Users</a>
        <a class="btn" style="color: black" asp-area="Administration" asp-controller="Users" asp-action="Create">Create User</a>
        <a class="btn" style="color: blueviolet" asp-area="Administration" asp-controller="Places" asp-action="All">All Place</a>
        <a class="btn" style="color: blueviolet" asp-area="Administration" asp-controller="Places" asp-action="Create">Add Place</a>
        <a class="btn" style="color: darkgreen" asp-area="Administration" asp-controller="Roles" asp-action="All">All Roles</a>
        <a class="btn" style="color: darkgreen" asp-area="Administration" asp-controller="Roles" asp-action="Create">Create Role</a>
        <a class="btn" style="color: #d19d75" asp-area="Administration" asp-controller="Shop" asp-action="All">All Shop Items</a>
        <a class="btn" style="color: #d19d75" asp-area="Administration" asp-controller="Shop" asp-action="Create">Add Shop Item</a>
        <a class="btn" style="color: #1ebfe3" asp-area="Administration" asp-controller="Blog" asp-action="All">All Articles</a>
        <a class="btn" style="color: #1ebfe3" asp-area="Administration" asp-controller="Blog" asp-action="Create">Add Blog Article</a>
    </div>
    <main role="main" class="pb-3 pt-5">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
