@model GelatoGuide.Services.Places.Models.AllPlacesServiceModel

<!--Search area-->
<div class="col col-3 justify-content-center">
    <form method="get">
        <div class="jumbotron" style="background-color: antiquewhite">
            <h3 class="text-center font-italic">Търсене</h3>
            <div class="form-group">
                <input asp-for="SearchTerm" class="form-control" placeholder="Ключова дума/думи..." />
            </div>
            <div class="form-group">
                <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="Country">Изберете държава</label>
                <select asp-for="Country" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country">@country</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-lighter font-italic" style="font-size: 110%" asp-for="City">Изберете град</label>
                <select asp-for="City" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city">@city</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-light" value="Резултати" />
            </div>
        </div>
    </form>
</div>