@model IEnumerable<AllPlacesViewModel>

@{
    ViewData["Title"] = "All places";
}


<div>
    @foreach (var place in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@place.MainImageUrl" alt="@place.Name" >
            <div class="card-img-overlay">
                <h1 class="card-title">@place.Name</h1>
                <br/>
                <p class="card-text font-italic" style="font-size: 125%">🌱 100% natural</p>
                <p class="card-text font-italic" style="font-size: 125%">🌱 gluten-free</p>
                <p class="card-text font-italic" style="font-size: 125%">🌱 organic ingredients</p>
            </div>
        </div>
        <br/>
    }
</div>
