@model IEnumerable<AllPlacesViewModel>

@{
    ViewData["Title"] = "All places";
}

<div class="row">
    <div class="col-6 offset-3">
        <h2 style="margin-bottom: 5%">Find a Gelateria</h2>
        <div class="row justify-content-center">
            @foreach (var place in Model)
            {
                <div class="container">
                    <a class="text-dark" asp-controller="Places" asp-action="Details" asp-route-id="@place.Id">
                        <div class="card mb-5">
                            <img class="card-img-top" src="@place.MainImageUrl" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@place.Name</h5>
                                <p class="card-text">@place.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="col-3 row justify-content-center" style="margin-top: 5%">
        <h5>Search will be here</h5>
    </div>
</div>



