@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <hr style="background-color: blueviolet" />

    <a class="btn btn-outline-light" style="color: black" asp-area="Administration" asp-controller="Users" asp-action="All">All Users</a>
    <a class="btn btn-outline-light" style="color: black" asp-area="Administration" asp-controller="Users" asp-action="Create">Create User</a>
    <a class="btn btn-outline-light" style="color: blueviolet" asp-area="Administration" asp-controller="Places" asp-action="All">All Place</a>
    <a class="btn btn-outline-light" style="color: blueviolet" asp-area="Administration" asp-controller="Places" asp-action="Create">Create Place</a>
    <a class="btn btn-outline-light" style="color: darkgreen" asp-area="Administration" asp-controller="Roles" asp-action="All">All Roles</a>
    <a class="btn btn-outline-light" style="color: darkgreen" asp-area="Administration" asp-controller="Roles" asp-action="Create">Create Role</a>
</div>