@model StatisticViewModel

@{
    ViewBag.Title = "Admin page";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <hr style="background-color: blueviolet" />
</div>
<br/>
<div class="row justify-content-md-center">
    <h4 class="col-4 text-center">Total Users: @Model.TotalUsers</h4>
    <h4 class="col-4 text-center">Total Places: @Model.TotalPlaces</h4>
    <h4 class="col-4 text-center">Total Articles: @Model.TotalArticles</h4>
</div>