@model AllUsersViewModel

@{
    ViewData["Title"] = "All Users";
}

<h3 style="text-align: center">@ViewData["Title"]</h3>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark96</td>
            <td>mark@gmail.com</td>
            <td>+359885762835</td>
        </tr>
    </tbody>
</table>