@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <hr style="background-color: blueviolet"/>
    <h3>This should be admin area with some functionality</h3>
</div>