@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <hr style="background-color: blueviolet" />

    <a class="btn btn-outline-light" style="color: black" asp-area="Administration" asp-controller="Admin" asp-action="AllUsers">All users</a>
    <a class="btn btn-outline-light" style="color: blueviolet" asp-area="Administration" asp-controller="Places" asp-action="Add">Add place</a>
    <a class="btn btn-outline-light" style="color: blueviolet" asp-area="Administration" asp-controller="Places" asp-action="All">All place</a>
</div>