@{
    ViewData["Title"] = "Map page";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3>Our map page!</h3>
            <p></p>
            <p>Now responsible for all kind of devices!</p>
            <br/>
            <div class="container col-12">
                <iframe class="embed-responsive" src="https://maps.google.com/maps?q=sofia&t=&z=9&ie=UTF8&iwloc=&output=embed"
                        height="350"
                        allowfullscreen="true"
                        aria-hidden="true"
                        tabindex="0">
                </iframe>
            </div>
        </div>
    </div>
</div>

