@{
    ViewBag.Title = "Map page";
}

@* ToDo finish the map. Now the places are visible with pins byt without proper names and details *@

<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            /* Set the size of the div element that contains the map */
            #map {
                height: 35vw;
                /* The height is 400 pixels */
                width: 100vw;
                /* The width is the width of the web page */
            }
        </style>
        <script>
            function initMap() {
                const sofia = { lat: 42.698334, lng: 23.319941 };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 10,
                    center: sofia
                });
                const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                const markers = locations.map((location, i) => {
                    return new google.maps.Marker({
                        position: location,
                        label: labels[i % labels.length],
                        map: map
                    });
                });

            }
            const locations = [
                { lat: 42.687205, lng: 23.318174 },
                { lat: 42.698306, lng: 23.318543 }
            ];
        </script>
    </head>
    <body>
        <!--The div element for the map -->
        <div class="row justify-content-center">
            <div class="col-11" id="map"></div>
        </div>

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4WU-FTJbqk5c9qmmDyiWAnLmkn6x4jgs&callback=initMap&libraries=&v=weekly" async></script>
    </body>
</html>